{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "color-hex-length": "long",
    "font-family-name-quotes": "always-unless-keyword",
    "scss/load-partial-extension": "always",
    "selector-class-pattern": "^[a-z0-9-_]+$",
  }
}
