<div class="breadcrumbs container">
    <a href="main.html" class="breadcrumbs__link">главная</a>
    <a href="catalog.html" class="breadcrumbs__link">каталог</a>
    <a href="#" class="breadcrumbs__link">title</a>
</div>
