{% set cardDetail = [
    {
        'title':'Срок изготовления:',
        'description':'14 календарных дней'
    },
    {
        'title': 'артикул',
        'description': '578'
    },
    {
        'title': 'материал',
        'description': 'ювелирное стекло'
    },
]%}


<article class="card">
    <header>
        <span>АРТ. 578</span>
        <button class="btn" type="button">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.6301 3.45753C15.247 3.07428 14.7922 2.77026 14.2916 2.56284C13.791 2.35542 13.2545 2.24866 12.7126 2.24866C12.1707 2.24866 11.6342 2.35542 11.1336 2.56284C10.633 2.77026 10.1782 3.07428 9.79509 3.45753L9.00009 4.25253L8.20509 3.45753C7.43132 2.68376 6.38186 2.24906 5.28759 2.24906C4.19331 2.24906 3.14386 2.68376 2.37009 3.45753C1.59632 4.23129 1.16162 5.28075 1.16162 6.37502C1.16162 7.4693 1.59632 8.51875 2.37009 9.29252L3.16509 10.0875L9.00009 15.9225L14.8351 10.0875L15.6301 9.29252C16.0133 8.90946 16.3174 8.45463 16.5248 7.95404C16.7322 7.45345 16.839 6.91689 16.839 6.37502C16.839 5.83316 16.7322 5.2966 16.5248 4.79601C16.3174 4.29541 16.0133 3.84059 15.6301 3.45753Z" fill="#cccfde"/>
            </svg>
        </button>
    </header>
    <a class="product-card__link" href="pages/card-item.html">
        <picture>
            <source media="(min-width:768px)" srcset="../img/tablet/card-new-1.jpg, ../img/tablet/card-new-1@2x.jpg">
            <img class="product-card__img" src="../img/mobile/mobile-card-1.jpg" srcset="../img/mobile/mobile-card-1@2x.jpg 2x" width="280" height="280" alt="Фото новинки.">
        </picture>
    </a>
    <div>
        <span class="product-card__price product-card__price--stock">250 &#8381;</span>
        <span class="product-card__old-price">
            <del>350 &#8381;</del>
        </span>
    </div>
    <footer>
        <dl class="card__detail">
            {% for item in cardDetail %}
                <div>
                    <dt>{{ item.title }}</dt>
                    <dd>{{ item.description }}</dd>
                </div>
            {% endfor %}
        </dl>
        <div class="card__description">
            <h3>Описание</h3>
            <p>Прекрасные обручальные кольца с инкрустацией дорожками бриллиантов в женском кольце.
Это замечательный образец современной классики. Бриллианты в кольце расположены под углом к шинке. Камни при столь необычном расположении сияют по-особенному. Их блеск заметен лучше всего когда рука находится в движении.
Мужское кольцо без инкрустации, оно более строгое. Скосы шинки имеют другую, матированную, фактуру. В целом дизайн этих парных колец очень изысканный и современный.
Такие кольца обязательно понравятся тем, кто ищет что-то классическое и в то же время особенное, не такое, как у всех!</p>
        </div>
    </footer>
</article>
