<section class="contacts">
  <h3 class="visually-hidden">Контакты</h3>
  <a class="contacts__mail" href="mailto:bijuteriaVelour@gmail.com">bijuteriaVelour@gmail.com</a>
  <div class="contacts__schedule">
    <time itemprop="openingHours" datetime="Mo, Tu, We, Th, Fr, 10:00-20:00">пн-пт 10:00-20:00</time>
    <time itemprop="openingHours" datetime="Sa, Su 10:00-20:00">сб-вс 10:00-18:00</time>
  </div>
  <div class="contacts__phone">
    <a class="contacts__number" href="tel:+79885624403">+7-988-562-44-03</a>
    <a class="contacts__number" href="tel:+79998073317">+7-999-807-33-17</a>
  </div>
</section>
