<form class="form-search" method="get" action="#">
  <fieldset class="form-search__wrapper">
    <legend class="visually-hidden">Форма поиска</legend>
    <div class="form-search__inner">
      <label class="visually-hidden" for="searchfield">Поле поиска</label>
      <input class="form-search__input" type="search" name="search" value="" id="searchfield" placeholder="Введите артикул">
      <button class="form-search__btn-clear btn" type="button">
        <span class="visually-hidden">Очистить поле</span>
        <svg width="21" height="21" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="14.8491" width="21" height="21" rx="10.5" transform="rotate(-45 0 14.8491)" fill="#9EAFC2"/>
          <path d="M18.8492 8.48516L8.24264 19.0918L10.364 21.2131L20.9706 10.6065L18.8492 8.48516Z" fill="white"/>
          <path d="M20.9706 19.0918L10.364 8.48516L8.24264 10.6065L18.8492 21.2131L20.9706 19.0918Z" fill="white"/>
        </svg>
      </button>
    </div>
    <button class="form-search__btn-search btn" type="submit">
      <span>Найти</span>
    </button>
  </fieldset>
  <button class="form-search__open-form btn" type="button">
    <span class="visually-hidden">Поиск</span>
    <svg class="form-search__icon-search" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9082 23.75C19.4311 23.75 23.9082 19.2728 23.9082 13.75C23.9082 8.22715 19.4311 3.75 13.9082 3.75C8.38536 3.75 3.9082 8.22715 3.9082 13.75C3.9082 19.2728 8.38536 23.75 13.9082 23.75Z" stroke="#9EAFC2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M26.4082 26.25L20.9707 20.8125" stroke="#9EAFC2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</form>
