<section class="social">
  <h2 class="visually-hidden">Ссылки на социальные сети</h2>
  <ul class="social__list">
    <li class="social__item">
      <a class="social__link social__logo social__logo-vk" href="https://vk.com/biju_velour" target="_blank">
        <span class="visually-hidden">Вконтакте</span>
        <svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
            <ellipse cx="23.4053" cy="22.5" rx="14.0625" ry="14.0625" fill="#020F59"/>
            <path d="M31.9399 27.035C31.9175 26.9835 31.8966 26.9408 31.8772 26.9066C31.5567 26.2905 30.9441 25.5342 30.0398 24.6376L30.0207 24.6171L30.0112 24.607L30.0015 24.5967H29.9918C29.5813 24.1792 29.3215 23.8984 29.2126 23.7547C29.0136 23.4809 28.9689 23.2038 29.0778 22.923C29.1546 22.7108 29.4435 22.2628 29.9436 21.5783C30.2066 21.2155 30.4149 20.9247 30.5688 20.7057C31.6784 19.1314 32.1595 18.1255 32.0118 17.6874L31.9546 17.585C31.916 17.5234 31.8166 17.467 31.6564 17.4156C31.496 17.3643 31.2908 17.3558 31.0406 17.39L28.2702 17.4104C28.2253 17.3934 28.1611 17.395 28.0777 17.4156C27.9943 17.4361 27.9525 17.4465 27.9525 17.4465L27.9043 17.4722L27.8661 17.5031C27.834 17.5235 27.7987 17.5594 27.7602 17.6108C27.7219 17.6619 27.6899 17.722 27.6642 17.7904C27.3626 18.6186 27.0197 19.3885 26.6348 20.1003C26.3975 20.5247 26.1795 20.8925 25.9805 21.204C25.7817 21.5153 25.615 21.7446 25.4804 21.8917C25.3456 22.0389 25.224 22.1568 25.1147 22.2458C25.0057 22.3349 24.9225 22.3726 24.8648 22.3588C24.807 22.345 24.7526 22.3314 24.7011 22.3177C24.6113 22.2561 24.5392 22.1723 24.4848 22.0662C24.4301 21.9601 24.3933 21.8266 24.3741 21.6658C24.3549 21.5048 24.3436 21.3664 24.3404 21.25C24.3373 21.1337 24.3387 20.9693 24.3453 20.7571C24.3519 20.5449 24.3549 20.4013 24.3549 20.326C24.3549 20.0658 24.3597 19.7835 24.3692 19.479C24.3789 19.1744 24.3868 18.9331 24.3933 18.7553C24.3999 18.5773 24.4029 18.3891 24.4029 18.1906C24.4029 17.9921 24.3916 17.8364 24.3692 17.7235C24.3471 17.6106 24.3132 17.5011 24.2685 17.3949C24.2235 17.2888 24.1577 17.2068 24.0713 17.1485C23.9847 17.0903 23.8771 17.0442 23.749 17.0099C23.4091 16.9278 22.9762 16.8834 22.4502 16.8765C21.2574 16.8628 20.4909 16.945 20.151 17.123C20.0164 17.1981 19.8945 17.3009 19.7855 17.4308C19.6701 17.5815 19.6539 17.6637 19.7373 17.6772C20.1222 17.7387 20.3946 17.8859 20.555 18.1186L20.6128 18.2419C20.6577 18.3308 20.7026 18.4883 20.7475 18.7141C20.7923 18.9399 20.8213 19.1898 20.834 19.4634C20.866 19.9631 20.866 20.3909 20.834 20.7467C20.8019 21.1027 20.7716 21.3798 20.7426 21.5783C20.7137 21.7768 20.6704 21.9376 20.6128 22.0608C20.555 22.184 20.5165 22.2593 20.4972 22.2866C20.478 22.3139 20.462 22.3312 20.4492 22.3379C20.3659 22.372 20.2792 22.3894 20.1894 22.3894C20.0996 22.3894 19.9906 22.3414 19.8624 22.2456C19.7342 22.1497 19.6011 22.018 19.4632 21.8503C19.3253 21.6826 19.1698 21.4481 18.9965 21.147C18.8234 20.8459 18.6439 20.49 18.4579 20.0794L18.304 19.7816C18.2078 19.59 18.0764 19.311 17.9096 18.9449C17.7428 18.5787 17.5953 18.2245 17.4671 17.8822C17.4158 17.7385 17.3388 17.6291 17.2362 17.5538L17.1881 17.5229C17.1561 17.4956 17.1047 17.4666 17.0342 17.4356C16.9636 17.4048 16.89 17.3826 16.8129 17.369L14.1771 17.3894C13.9077 17.3894 13.725 17.4545 13.6287 17.5846L13.5902 17.6461C13.571 17.6804 13.5613 17.7351 13.5613 17.8104C13.5613 17.8857 13.5805 17.9781 13.619 18.0876C14.0038 19.0527 14.4223 19.9835 14.8744 20.88C15.3265 21.7766 15.7194 22.4988 16.0528 23.046C16.3862 23.5937 16.7262 24.1105 17.0725 24.5963C17.4188 25.0823 17.6481 25.3937 17.7603 25.5305C17.8726 25.6676 17.9608 25.7701 18.0249 25.8385L18.2654 26.0848C18.4194 26.2491 18.6454 26.4459 18.9436 26.6751C19.2419 26.9045 19.5721 27.1303 19.9345 27.3529C20.2969 27.5752 20.7185 27.7565 21.1996 27.8968C21.6806 28.0372 22.1487 28.0936 22.6041 28.0664H23.7104C23.9347 28.0457 24.1047 27.9705 24.2203 27.8405L24.2585 27.7891C24.2843 27.7482 24.3084 27.6848 24.3306 27.5993C24.3531 27.5138 24.3643 27.4196 24.3643 27.317C24.3578 27.0227 24.3787 26.7575 24.4268 26.5215C24.4747 26.2854 24.5293 26.1075 24.5905 25.9876C24.6515 25.8679 24.7205 25.7669 24.7972 25.6849C24.8741 25.6029 24.9289 25.5531 24.961 25.536C24.993 25.5188 25.0185 25.5071 25.0377 25.5001C25.1916 25.4454 25.3728 25.4984 25.5814 25.6593C25.7899 25.8202 25.9854 26.0188 26.1683 26.2548C26.3511 26.491 26.5707 26.7561 26.8271 27.0503C27.0839 27.3447 27.3083 27.5635 27.5005 27.7074L27.6929 27.8307C27.8214 27.9128 27.9881 27.9881 28.1934 28.0565C28.3983 28.125 28.5778 28.1421 28.7319 28.1079L31.1945 28.0669C31.4381 28.0669 31.6276 28.0238 31.762 27.9384C31.8968 27.8529 31.9768 27.7586 32.0026 27.6562C32.0284 27.5535 32.0298 27.4371 32.0075 27.3069C31.9847 27.177 31.9622 27.0862 31.9399 27.035Z" fill="white"/>
          </g>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link social__logo social__logo-instagram" href="https://instagram.com/biju_velour" target="_blank">
        <span class="visually-hidden">Инстаграм</span>
        <svg width="46" height="45" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
            <g clip-path="url(#clip0_465_35)">
              <path d="M25.2656 22.5C25.2656 23.9866 24.0606 25.1917 22.574 25.1917C21.0874 25.1917 19.8823 23.9866 19.8823 22.5C19.8823 21.0134 21.0874 19.8083 22.574 19.8083C24.0606 19.8083 25.2656 21.0134 25.2656 22.5Z" fill="#020F59"/>
              <path d="M22.5737 8.4375C14.8084 8.4375 8.51123 14.7347 8.51123 22.5C8.51123 30.2653 14.8084 36.5625 22.5737 36.5625C30.339 36.5625 36.6362 30.2653 36.6362 22.5C36.6362 14.7347 30.339 8.4375 22.5737 8.4375ZM30.6 25.8292C30.5609 26.6888 30.4242 27.2756 30.2247 27.7893C29.8052 28.874 28.9477 29.7314 27.863 30.1509C27.3496 30.3505 26.7625 30.487 25.9031 30.5262C25.042 30.5655 24.7669 30.575 22.5739 30.575C20.3808 30.575 20.1059 30.5655 19.2446 30.5262C18.3852 30.487 17.7981 30.3505 17.2846 30.1509C16.7456 29.9482 16.2577 29.6304 15.8543 29.2195C15.4436 28.8163 15.1258 28.3281 14.923 27.7893C14.7234 27.2758 14.5868 26.6888 14.5477 25.8294C14.508 24.9681 14.4988 24.693 14.4988 22.5C14.4988 20.307 14.508 20.0319 14.5475 19.1708C14.5865 18.3112 14.723 17.7244 14.9226 17.2107C15.1253 16.6719 15.4433 16.1837 15.8543 15.7805C16.2575 15.3696 16.7456 15.0518 17.2844 14.8491C17.7981 14.6495 18.385 14.513 19.2446 14.4738C20.1057 14.4345 20.3808 14.425 22.5737 14.425C24.7667 14.425 25.0418 14.4345 25.9029 14.474C26.7625 14.513 27.3493 14.6495 27.863 14.8488C28.4018 15.0516 28.89 15.3696 29.2934 15.7805C29.7041 16.1839 30.0221 16.6719 30.2247 17.2107C30.4244 17.7244 30.5609 18.3112 30.6002 19.1708C30.6395 20.0319 30.6487 20.307 30.6487 22.5C30.6487 24.693 30.6395 24.9681 30.6 25.8292Z" fill="#020F59"/>
              <circle cx="26.4409" cy="17.9297" r="1.05469" fill="#020F59"/>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_465_35">
              <rect width="28.125" height="28.125" fill="white" transform="translate(8.51123 8.4375)"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link social__logo social__logo-facebook" href="https://api.whatsapp.com/send/?phone=79998073317">
        <span class="visually-hidden">Ватсап</span>
        <svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
            <path d="M23.4822 9.00024H23.4753C15.8347 9.00024 9.62134 15.055 9.62134 22.5002C9.62134 25.4534 10.5983 28.1905 12.2594 30.4129L10.5325 35.4282L15.8589 33.7694C18.0501 35.1835 20.664 36.0002 23.4822 36.0002C31.1229 36.0002 37.3362 29.9438 37.3362 22.5002C37.3362 15.0567 31.1229 9.00024 23.4822 9.00024ZM31.5455 28.0639C31.2112 28.9836 29.8843 29.7464 28.826 29.9691C28.1019 30.1193 27.1562 30.2391 23.9724 28.9532C19.9001 27.3096 17.2776 23.2782 17.0732 23.0166C16.8774 22.7551 15.4276 20.8819 15.4276 18.9447C15.4276 17.0074 16.4375 16.0641 16.8445 15.6591C17.1788 15.3267 17.7314 15.1748 18.2614 15.1748C18.4329 15.1748 18.5871 15.1832 18.7257 15.19C19.1327 15.2069 19.3371 15.2305 19.6056 15.8566C19.9399 16.6412 20.754 18.5785 20.851 18.7776C20.9498 18.9767 21.0485 19.2467 20.9099 19.5083C20.78 19.7783 20.6657 19.8981 20.4613 20.1276C20.2569 20.3571 20.0629 20.5326 19.8585 20.779C19.6714 20.9933 19.4601 21.2228 19.6957 21.6194C19.9313 22.0075 20.7454 23.3018 21.944 24.3413C23.4909 25.6829 24.745 26.1115 25.1936 26.2937C25.5279 26.4287 25.9263 26.3967 26.1706 26.1436C26.4806 25.8179 26.8634 25.2779 27.2532 24.7463C27.5303 24.3649 27.8802 24.3177 28.2474 24.4527C28.6216 24.5792 30.6015 25.5327 31.0085 25.7301C31.4156 25.9292 31.6841 26.0237 31.7828 26.1908C31.8798 26.3579 31.8798 27.1426 31.5455 28.0639Z" fill="#020F59"/>
          </g>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link social__logo social__logo-facebook" href="t.me/biju_velourrr">
        <span class="visually-hidden">Телеграм</span>
        <svg width="47" height="45" viewBox="0 0 47 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
            <ellipse cx="23.9338" cy="22.5" rx="14.0625" ry="14.0625" fill="#020F59"/>
            <path d="M20.7117 24.4981L20.4326 28.3232C20.8319 28.3232 21.0049 28.156 21.2123 27.9553L23.0848 26.212L26.9647 28.9801C27.6763 29.3664 28.1777 29.163 28.3696 28.3423L30.9164 16.7164L30.9171 16.7157C31.1428 15.691 30.5367 15.2902 29.8434 15.5416L14.8735 21.1251C13.8518 21.5115 13.8673 22.0663 14.6998 22.3177L18.527 23.4774L27.4169 18.0584C27.8352 17.7885 28.2156 17.9378 27.9027 18.2077L20.7117 24.4981Z" fill="white"/>
          </g>
        </svg>
      </a>
    </li>
  </ul>
</section>
