.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
  }
}

.card__main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.card__article {
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.card__slider {
  width: 100%;
  position: relative;
  margin-bottom: 46px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}

.card__price {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-bottom: 46px;
}

.card__current-price {
  font-weight: 600;
  font-size: 2.6rem;
}

.card__oldprice {
  color: $greyblue1;
}

.card__order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;
  margin-bottom: 44px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 1.6rem;
  color: $deepblue;
  background-color: $white;
  text-transform: uppercase;
  border: 1px solid $deepblue;
  cursor: pointer;
}

.card__button--second {
  color: $white;
  background-color: $deepblue;
}

.card__detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  margin: 0 0 20px 0;
}

.card__detail-inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.card__term::first-letter {
  text-transform: uppercase;
}

.card__desc {
  margin: 0;
}

.card__description {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}

.card__subtitle {
  margin: 0 0 27px 0;
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.card__text {
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    max-width: 70%;
  }
}
