.card {
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.card__article {
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.card__slider {
  margin-bottom: 66px;
}

.card__price {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-bottom: 46px;
}

.card__current-price {
  font-weight: 600;
  font-size: 2.6rem;
}

.card__oldprice {
  color: $greyblue1;
}

.card__order {
  margin-bottom: 44px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $white;
  font-weight: 600;
  font-size: 1.6rem;
  color: $deepblue;
  text-transform: uppercase;
  border: 1px solid $deepblue;
  cursor: pointer;
}

.card__detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  margin: 0 0 20px 0;
}

.card__detail-inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.card__term::first-letter {
  text-transform: uppercase;
}

.card__desc {
  margin: 0;
}

.card__subtitle {
  margin: 0 0 27px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.card__text {
  font-weight: 300;
  line-height: 1.4;
}
