.contacts-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}

.contacts-footer__number {
  font-size: 1.6rem;
  color: $black;
  text-align: center;
}
