.footer {
  display: flex;
  flex-direction: column;
  gap: 40px 20px;
  width: 100%;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom:  70px;
  background-color: $white1;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  justify-items: center;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__subtitle {
  font-size: 1.8rem;
  text-align: center;
}

.footer__service {
  display: flex;
  color: $black;
}
