.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 100%;
  }
}

.main-nav__btn-toggle {
  position: relative;
  display: flex;
  width: 32px;
  height: 22px;
  border-bottom: 2px solid $deepblue;
  cursor: pointer;

  &:hover {
    border-color: $gold;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $deepblue;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 50%;
  }

  &:hover::before,
  &:hover::after {
    background-color: $gold;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__btn-toggle--active {
  border-bottom: none;

  &::before {
    top: 50%;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: none;

  @include list-reset;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
}

.main-nav__item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: fit-content;
  height: fit-content;
}

.main-nav__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-nav__item:hover > .sub-menu {

  @media (min-width: $tablet-width) {
    visibility: visible;
    height: auto;
    max-height: 500px;
    transition: max-height 0.5s ease-out;
  }
}

.main-nav__item:hover .sub-menu-link {

  @media (min-width: $tablet-width) {
    color: $purple2;
    transition: color 0.8s ease-out;
  }
}

.main-nav__submenu-toggle {
  display: none;

  @media (max-width: $mobile-width-only) {
    position: relative;
    display: flex;
    width: 15px;
    height: 15px;
    background-color: $white;

    &::before,
    &::after {
      background-color: $grey1;
      transition: 0.3s linear;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translateY(-50%);
    }

    &:hover {
      &::before,
      &::after {
        background-color: $gold;
      }
    }
  }
}

.main-nav__submenu-toggle--active {
  @media (max-width: $mobile-width-only) {
    &::before {
      top: 50;
      left: 50%0;
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.main-nav__link {
  position: relative;
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 2.2rem;
  color: $grey1;
  text-transform: uppercase;
  transition: 0.3s linear;
  z-index: 2;

  &:hover {
    color: $gold;
    transition: 0.3s linear;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 240px;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.6rem;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: $white1;
    z-index: 2;
  }

  .main-nav__list--active {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
}
