.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 100%;
  }
}

.main-nav__btn-toggle {
  position: relative;
  display: flex;
  width: 32px;
  height: 22px;
  border-bottom: 2px solid $deepblue;
  cursor: pointer;

  &:hover {
    border-color: $gold;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $deepblue;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 50%;
  }

  &:hover::before,
  &:hover::after {
    background-color: $gold;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__btn-toggle--active {
  border-bottom: none;

  &::before {
    top: 50%;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: none;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }
}

.main-nav__link {
  font-family: "Raleway-Regular", "Arial", sans-serif;
  font-size: 2.2rem;
  color: $grey1;
  text-transform: uppercase;

  &:hover {
    color: $gold;
    animation-name: linkhover;
    animation-duration: 0.4s;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.6rem;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: $white1;
    z-index: 2;
  }

  .main-nav__list--active {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
}
