.product-card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.product-card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-card__part-number {
  padding-left: 10px;
}

.product-card__part {
  color: $grey3;
}

.product-card__favourites {
  padding-right: 10px;
}

.product-card__link {
  container: inline-size;
  position: relative;
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.product-card__link--novelty::before {
  content: "Новинка";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30%;
  height: 20px;
  text-align: center;
  color: $white;
  background-color: $red;
  border-radius: 25px;
  z-index: 2;
}

.product-card__link--best::after {
  content: "Хит";
  position: absolute;
  top: 40px;
  right: 10px;
  width: 30%;
  height: 20px;
  text-align: center;
  color: $white;
  background-color: $blue;
  border-radius: 25px;
  z-index: 2;
}
@container (max-width: 250px) {
  .product-card__link--novelty::before {
    width: 40%;
  }

  .product-card__link--best::after {
    width: 40%;
  }
}

.product-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(4px 4px 10px $grey1);
}

.product-card__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  width: 100%;
  padding: 0 10px;
}

.product-card__price {
  font-size: 1.8rem;
  font-weight: 600;
}

.product-card__price--stock {
  color: $gold;
}

.product-card__old-price {
  margin-left: 20px;
  font-size: 1.4rem;
  color: $grey4;
}
