.sub-menu {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 0;
  list-style: none;
  z-index: 2;
  transition: 0.5s ease-in;
  background-color: $white;

  @include offset(0, 15px);

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: transparent;
    z-index: -1;
  }

  @media(min-width: $tablet-width) {
    position: absolute;
    top: 25px;
    left: 0;
    max-width: 190px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px $purple;
  }
}

.sub-menu--active {

  @media (max-width: $mobile-width-only) {
    position: relative;
    visibility: visible;
    width: 100%;
    height: auto;
    max-height: 500px;
    padding: 15px;
    background-color: transparent;
    transition: 0.1s ease-in;
  }
}

.sub-menu-link {
  position: relative;
  display: flex;
  padding: 5px;
  text-transform: uppercase;
  color: transparent;
  transition: 0.5s ease-in-out;

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
    transition: none;

    &:hover {
      color: $gold;
    }
  }
}

.sub-menu--active .sub-menu-link {
  @media (max-width: $mobile-width-only) {
    color: $purple2;
    transition: 1s ease-in-out;
  }
}
