{% extends '../includes/base.twig' %}

{% block title %}
    {{ 'Кольцо Супериор' }}
{% endblock %}

{% block swiper %}
    ../css/swiper-bundle.min.css
{% endblock %}

{% block favicon %}
    <link rel="icon" href="../favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32.png">
{% endblock %}

{% block style %}
    ../css/style.min.css
{% endblock %}

{% block script %}
    ../js/index.min.js
{% endblock %}

{% set mainReturn = 'main.html' %}
{% set logoInnerAddress = '../img/icons/velour.svg' %}

{% block page %}
    {% include '../includes/templates/_header.twig' with logoInnerAddress %}
    <main>
        {% embed '../includes/product-card.twig' %}
            {% block article %}Арт. 1{% endblock %}
            {% block tabletimg %}../img/tablet/card-new-1.jpg, ../img/tablet/card-new-1@2x.jpg,{% endblock %}
            {% block image %}../img/mobile/mobile-card-1.jpg{% endblock %}
            {% block image2x %}../img/mobile/mobile-card-1@2x.jpg{% endblock %}
            {% block price %}250{% endblock %}
            {% block oldprice %}440{% endblock %}
            {% block description %}Прекрасные обручальные кольца с инкрустацией дорожками бриллиантов в женском кольце.
Это замечательный образец современной классики. Бриллианты в кольце расположены под углом к шинке. Камни при столь необычном расположении сияют по-особенному. Их блеск заметен лучше всего когда рука находится в движении.
Мужское кольцо без инкрустации, оно более строгое. Скосы шинки имеют другую, матированную, фактуру. В целом дизайн этих парных колец очень изысканный и современный.
Такие кольца обязательно понравятся тем, кто ищет что-то классическое и в то же время особенное, не такое, как у всех!{% endblock %}
        {% endembed %}
    </main>
    {% include '../includes/templates/_footer.twig' %}
{% endblock %}
