$white: #ffffff;
$white1: #f8f9fd;
$black: #000000;
$deepblue: #020f59;
$greyblue: #9eafc2;
$gold: #fdd5b1;
$grey: #eceff3;
$grey1: #4b4b4c;
$grey2: #bdc3c7;
$grey3: #808080;
$grey4: #d4dbe4;
$grey5: #8187ac;
