$white: #ffffff;
$white1: #f8f9fd;
$black: #000000;
$blue: #127bc4;
$deepblue: #020f59;
$greyblue: #9eafc2;
$greyblue1: #b1bfce;
$red: #e00000;
$gold: #fdd5b1;
$grey: #eceff3;
$grey1: #4b4b4c;
$grey2: #bdc3c7;
$grey3: #808080;
$grey4: #d4dbe4;
$grey5: #8187ac;
$purple: #61427b47;
$purple2: #6c6477;
