*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
  font-size: 62.5%;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: $white;
}

.list-pages {
  @include list-reset;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}
