<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Velour site</title>
  <meta name="description" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body class="page-body">
  {% include 'includes/_header.twig' %}
  <main>
    <h1 class="title">Velour store</h1>
    <a href="catalog.html">catalog</a>
    <p>Twig Site Done!</p>
    <p>Lorem ipsum dolor</p>
  </main>
</body>
<script src="js/script.min.js"></script>
</html>
