
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/colors.scss";
@import "global/mixins.scss";
@import "global/globals.scss";
@import "global/animation.scss";
@import "blocks/header.scss";
@import "blocks/social.scss";
@import "blocks/form-search.scss";
@import "blocks/main-nav.scss";
@import "blocks/contacts.scss";
@import "blocks/slider.scss";
@import "blocks/main.scss";
@import "blocks/catalog.scss";
@import "blocks/product-card.scss";
@import "blocks/novelty.scss";
@import "blocks/footer.scss";
@import "blocks/information.scss";
@import "blocks/contacts-footer.scss";
@import "blocks/card.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/sub-menu.scss";
